*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}
.main-box-1 {
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
    position: fixed;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.img-box img {
    width: 100%;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    
}
.contain-box  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin-left: 445px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.contain-box a{
    color: black;
    text-decoration: none;
}
.icon-1 img{
    width: 32px;
    height: 27px;
    margin-left: 46.67px;

}
.icon-1{
    margin-left: 325px;
}
.main-contain-box-1{
    width: 100%;
    height: 716.83px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #979797; */
    background-image: url(scandinavian-interior-mockup-wall-decal-background\ 1\ \(1\).png);
    background-size: cover;
    background-position: center;
}
.image-box-2 img{ 
    width: 1875px;
    height: 716.83px;
    margin-top: 4px;
}
.contain-box-2{
    width: 643px;
    height: 443px;
    background-color: #dd0000;
    margin-left: 665px;
    background-color: #FFF3E3;
    border-radius: 10px;
}

.contain-box-2 p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000;
    margin-left: 40px;
    margin-top: 40px;
    font-weight: 500;
}
.contain-box-2 h1{
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    color: #B88E2F;
    margin-left: 40px;
    margin-top: 20px;
}
.contain-box-2 h3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000;
    /* margin-left: 40px; */
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
}
.contain-box-2 button{
    width: 150px;
    height: 50px;
    background-color: #B88E2F;
    color: #fff;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-left: 40px;
    margin-top: 30px;
    cursor: pointer;
}
.contain-1 h1{
    text-align: center;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
}
.contain-1 p{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.main-box-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.box-1{
    width: 381px;
    height: 480px;
    background-color: #B88E2F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-image: url(sdd.png);
    background-size: cover;
    background-position: center;
}
.box-2{
    width: 381px;
    height: 480px;
    background-color: #B88E2F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-image: url(Image-living\ room.png);
    background-size: cover;
    background-position: center;
}
.box-3{
    width: 381px;
    height: 480px;
    background-color: #B88E2F;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-image: url(Mask\ Group.png);
    background-size: cover;
    background-position: center;
}
.box-1 span, .box-2 span, .box-3 span {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-top: 550px;
}   
.contain-2 h1{
    text-align: center;
    margin-top: 80px;
    font-family: "Poppins", sans-serif;
}
.main-product-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.product-main-box-1{
    width: 285px;
    height: 446px;
    background-color: #F4F5F7;
    margin-top: 40px;
}

.product-main-box-2{
    width: 285px;
    height: 446px;
    background-color: #F4F5F7;
    margin-top: 40px;
}
.product-main-box-3{
    width: 285px;
    height: 446px;
    background-color: #F4F5F7;
    margin-top: 40px;
}
.product-main-box-4{
    width: 285px;
    height: 446px;
    background-color: #F4F5F7;
    margin-top: 40px;
}

.product-main-box-5{
    width: 285px;
    height: 446px;
    background-color: #F4F5F7;
    margin-top: 40px;
}

.product-image-1{
    width: 285px;
    height: 301px;
    background-image: url(image\ 1.png);
    background-size: cover;
    background-position: center;
}
.product-image-2{
    width: 285px;
    height: 301px;
    background-image: url(image\ 2.png);
    background-size: cover;
    background-position: center;
}
.product-image-3{
    width: 285px;
    height: 301px;
    background-image: url(image\ 3.png);
    background-size: cover;
    background-position: center;
}

.product-image-4{
    width: 285px;
    height: 301px;
    background-image: url(image\ 4.png);
    background-size: cover;
    background-position: center;
}

.product-image-5{
    width: 285px;
    height: 301px;
    background-image: url(image\ 1.png);
    background-size: cover;
    background-position: center;
}
.product-main-box-1 h2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: 30px;
    margin-top: 15px;

}
.product-main-box-1 p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #898989;
    margin-left: 30px;
    margin-top: 15px;

}
.product-main-box-1 h3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: 30px;
    margin-top: 20px;

}

.product-main-box-2 h2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: 30px;
    margin-top: 15px;

}
.product-main-box-2 p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #898989;
    margin-left: 30px;
    margin-top: 15px;

}
.product-main-box-2 h3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: 30px;
    margin-top: 20px;

}

.product-main-box-3 h2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: 30px;
    margin-top: 15px;

}
.product-main-box-3 p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #898989;
    margin-left: 30px;
    margin-top: 15px;

}
.product-main-box-3 h3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: 30px;
    margin-top: 20px;

}
.product-main-box-4 h2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: 30px;
    margin-top: 15px;

}
.product-main-box-4 p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #898989;
    margin-left: 30px;
    margin-top: 15px;

}
.product-main-box-4 h3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: 30px;
    margin-top: 20px;

}
.product-main-box-5 h2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: 30px;
    margin-top: 15px;

}
.product-main-box-5 p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #898989;
    margin-left: 30px;
    margin-top: 15px;

}
.product-main-box-5 h3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: 30px;
    margin-top: 20px;

}
.product-image-1 img{
    width: 48px;
    height: 48px;
    margin-left: 220px;
    margin-top: 15px;
}
.product-image-4 img{
    width: 48px;
    height: 48px;
    margin-left: 220px;
    margin-top: 15px;
}
.product-image-5 img{
    width: 48px;
    height: 48px;
    margin-left: 220px;
    margin-top: 15px;
}
.product-show button{
    width: 150px;
    height: 50px;
    /* background-color: #B88E2F; */
    color: #B88E2F;
    border: 2px solid #B88E2F;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 600;
}
.product-show{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain-image p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
}

.contain-image h1{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #000000;
    margin-left: 30px;
    text-align: center;
}
.set-image-1{
    width: 100px;
    height: 500px;
    object-fit: cover;
    background-image: url(1.png);
    background-size: cover;
    background-position: center;
}

.set-image-2{
    width: 451px;
    height: 312px;
    object-fit: cover;
    background-image: url(2.png);
    background-size: cover;
    background-position: center;
    margin-top: 188px;
}
.main-set-image{
    display: flex;
    justify-content: start;
    /* align-items: center; */
    gap: 50px;
    margin-top: 50px;
}

.set-image-3{
    width: 295px;
    height: 392px;
    object-fit: cover;
    background-image: url(3.png);
    background-size: cover;
    background-position: center;
    margin-top: 330px;
}
.set-image-4{
    width: 290px;
    height: 348px;
    object-fit: cover;
    background-image: url(4.png);
    background-size: cover;
    background-position: center;
    margin-top: 245px;
}
.set-image-5{
    width: 570px;
    height: 433px;
    object-fit: cover;
    background-image: url(5.png);
    background-size: cover;
    background-position: center;
    margin-top: 160px;
}
.main-set-image-1{
    display: flex;
    justify-content: start;
    /* align-items: center; */
    gap: 50px;
}
.set-image-6{
    width: 280px;
    height: 323px;
    object-fit: cover;
    background-image: url(6.png);
    background-size: cover;
    background-position: center;
    margin-top: -180px;
}

.set-image-7{
    width: 280px;
    height: 242px;
    object-fit: cover;
    background-image: url(7.png);
    background-size: cover;
    background-position: center;
    margin-top: -180px;
    margin-left: -12px;
}

.main-line hr{
    width: 100%;
    height: 2px;
    background-color: #b0aeae;
    border: none;
    margin-top: 70px;
    margin-bottom: 50px;
}

.main-footer-box{
    width: 100%;
    height: 505px;
    background-color: #B88E2F;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.main-footer-1{
    width: 350px;
    height: 505px;
    background-color: #B88E2F;
}

.main-footer-2{
    width: 350px;
    height: 505px;
    background-color: #B88E2F;
}

.main-footer-3{
    width: 350px;
    height: 505px;
    background-color: #B88E2F;
}

.main-footer-4{
    width: 350px;
    height: 505px;
    background-color: #B88E2F;
}

.main-footer-1 h1{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #000000;
    margin-top: 50px;
    margin-left: 50px;
}
.main-footer-1 p{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: #000000;
    margin-top: 90px;
    margin-left: 50px;
}
.main-footer-2{
    display: flex;
    justify-content: center;
}

.main-link h1{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #000000;
    margin-top: 50px;   
}
.link-1{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-top: 40px;
}

.link-2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-top: 40px;
}

.link-3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-top: 40px;
}

.link-4{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-top: 40px;
}


.main-footer-3{
    display: flex;
    justify-content: center;
}

.main-help h1{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #000000;
    margin-top: 50px;   
}
.help-1{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-top: 40px;
}

.help-2{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-top: 40px;
}

.help-3{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #000000;
    margin-top: 40px;
}